/* Adicione estilos globais aqui, se necessário */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

.links {
  margin-top: 20px;
}

.links a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.links a:hover {
  color: #0056b3;
}
